<!DOCTYPE html>
<html>
  <head>
    <title>NavCS - create game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="shortcut icon" href="{{url_for('static', filename='NavCS_logo_icon.svg')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='all_pages.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='form.css')}}">
    <script>
      var viewport = document.querySelector("meta[name=viewport]");
      viewport.setAttribute("content", viewport.content + ", height=" + window.innerHeight);
    </script>
  </head>
  <body onload="set_max_date()" style="background-image:url({{url_for('static', filename='public_domain_map.jpg')}}); background-size: cover;">
    <div id="header">
      <img src="{{url_for('static', filename='NavCS_logo_text.svg')}}">
      <div>
        <a href="/">Home</a>
        <a href="/join">Join</a>
      </div>
    </div>
    <div id="content">
      <h1>Create a game</h1>
      <p id="message">Set your start time and mode.</p>
      
      <div class="input_row">
        <div class="label">
          <label for="timeval">Time:</label>
        </div>
        <div class="input">
          <input type="time" id="time_val">
        </div>
      </div>
      <div class="input_row">
        <div class="label">
          <label for="dateval">Date:</label>
        </div>
        <div class="input">
          <input type="date" id="date_val">
        </div>
      </div>
      <div class="input_row">
        <div class="label">
          <label for="hours">Duration:</label>
        </div>
        <div class="double_input">
          <input type="number" max="8" min="0" placeholder="hours" id="hours">
        </div>
        <div class="double_input">
          <input type="number" max="59" min="0" placeholder="minutes" id="minutes">
        </div>
      </div>
      <div class="input_row">
        <div class="label">
          <label for="mode">Mode:</label>
        </div>
        <div class="input">
          <select name="mode" id="mode">
        <option value="HaS">Hide and seek</option>
        <option value="Tag">Tips</option>
      </select>
        </div>
      </div>
      
      <a id="go" onclick="submit()">Create</a>
    </div>
    <script src="{{url_for('static', filename='create.js')}}"></script>
  </body>
</html>
