<!DOCTYPE html>
<html>
  <head>
    <title>NavCS - home</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='NavCS_logo_icon.svg')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='all_pages.css')}}">
  </head>
    
  <body onload="getLocation()">
    <div id="header" class="topfixed">
      <img src="{{url_for('static', filename='NavCS_logo_text.svg')}}">
      <div>
        <a href="/create">Book</a>
        <a href="/join">Join</a>
      </div>
    </div>
    <div class="topspacer"></div>
    <div class="slideBox" style="background-image:url({{url_for('static', filename='img1.jpg')}});"><div>
      <div>Next level navigation-based games</div>
    </div></div>
    <div class="slideBox" style="background-image:url({{url_for('static', filename='img2.jpg')}});"><div>
      <div>Play GPS assisted hide and seek</div>
    </div></div>
    <div class="slideBox" style="background-image:url({{url_for('static', filename='img3.jpg')}});"><div>
      <div>Lets you play accross much larger areas</div>
    </div></div>
    <div class="slideBox" style="background-image:url({{url_for('static', filename='img4.jpg')}});"><div>
      <div>Go to 'book' to create a game for you and your friends</div>
    </div></div>
    
    <div class="chapter">
      <h1>Intro</h1>
      <p>NavCS is a system which utilises GPS to provide a platform for navigation games, from hide and seek around the neighbourhood with the kids to city-wide games of tag, and everything in between. The system is minimalist and to allow the users to have the freedom to do anything, anywhere.</p>
    </div>

    <div class="chapter">
      <h1>Help</h1>
      <p>
        To start a game follow the steps below:
        <ul>
          <li>Decide on a game mode (see section below for more details). This will determine how the target assignment and reassignment functions</li>
          <li>Book a game <a href="/create">here</a>, and set the mode, start time, and duration whic suits you. Once you have done this press 'create'.</li>
          <li>Copy the code which appears in the message below 'Create a game' and send it to your friends.</li>
          <li>Make sure to tell them any rules beyond the scope of the system such as: don't go past these suburbs; use trains but not busses; no concealing your face from your chaser; etc.</li>
        </ul>
      </p>
      <p>
        And to join a game follow these steps <u>before</u> the game begins:
        <ul>
          <li>Navigate to the 'join' page found <a href="/join">here</a> and enter in your details.</li>
          <li>Enter the code the game organiser sent you and press 'join'.</li>
          <li>You will see a green target on your location, and after the game starts (depending on the game mode) you'll see a red target (if you are a chaser/seeker) which shows the location of your target.</li>
          <li>Keep the website open and you'll remain connected to the server.</li>
          <li>If you get caught press the button at the bottom of the screen and the server will adjust the targets automatically.</li>
        </ul>
      </p>
    </div>

    <div class="chapter">
      <h1>Modes</h1>
      <p><b>Hide and seek</b><br><br>
        In this game mode one player is randomly selected as the seeker, and they have all the locations of the hiders. Once they tag a hider the hider presses a button on their phone and the server makes them a seeker. Once the last hider is caught they become the new seeker and the rest become hiders. This process repeats until the game finishes.<br><br>
        <i>Size: 2+<br><br>
        Difficulty: Easy</i>
      <p><b>Teams</b><br><br>
        In this game mode the players are split into two teams (indicated by the colour of markers on the screen - blue is your team, red is theirs). The team with the fewest players are the chasers, and once caught a player switches teams, so roles will be rapidly switching back and forth.<br><br>
        <i>Size: 4+<br><br>
        Difficulty: Medium</i>
      </p>
      <p><b>Tag</b><br><br>
        In this game mode each player is assigned a target to chase (and therefore each player has someone chasing them). Once they 'tag' a player the tagged player presses the button at the bottom of their screen and the tagger gets randomly assigned a new target. This process continues until the game finishes.<br><br>
        <i>Size: 3+<br><br>
        Difficulty: Hard</i>
      </p>
    </div>
  </body>
</html>
