<!DOCTYPE html>
<html>
  <head>
    <title>NavCS - join</title>
  </head>
  <body>
    <h1>NavCS</h1>
    <h4>mk. 1</h4>
    <p>{{message}}</p>
    <form action="/connect" method="POST">
      <label for="f_name">First name: </label>
      <input id="f_name" name="f_name"/><br><br>
      <label for="l_name">Last name: </label>
      <input id="l_name" name="l_name"/><br><br>
      <label for="game_code">Join code: </label>
      <input id="game_code" name="game_code"/><br><br>
      <input type="submit" value="join game"/>
    </form><br>
    <a href="/">Back to home>></a>
  </body>
</html>