<!DOCTYPE html>
<html>
  <head>
    <title>NavCS - join</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='NavCS_logo_icon.svg')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='all_pages.css')}}">
  </head>
  <body>
    <div id="header">
      <img src="{{url_for('static', filename='NavCS_logo_text.svg')}}">
      <div>
        <a href="/">Home</a>
        <a href="/create">Book</a>
      </div>
    </div>
    <p id="message">Please enter your details to join a game:</p>
    <label for="f_name">First name: </label>
    <input id="f_name" name="f_name"/><br><br>
    <label for="l_name">Last name: </label>
    <input id="l_name" name="l_name"/><br><br>
    <label for="code">Join code: </label>
    <input id="code" name="code"/><br><br>
    <button onclick="join()"/>join game</button><br>
    <a href="/">Back to home>></a>
    <script src="{{url_for('static', filename='join.js')}}"></script>
  </body>
</html>
