<!DOCTPE html>
<html>
  <head>
    <title>NavCS - play</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <script src="{{url_for('static', filename='run.js')}}"></script>
    <link rel="shortcut icon" href="{{url_for('static', filename='NavCS_logo_icon.svg')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='all_pages.css')}}">
  </head>
  <body style="background-image:url({{url_for('static', filename='public_domain_map.jpg')}}); background-size: cover;">
    <div id="header">
      <img src="{{url_for('static', filename='NavCS_logo_text.svg')}}">
      <div>
        <a href="/">Home</a>
        <a href="/join">Join</a>
      </div>
    </div>
    <div id="content">
      <h1>Play</h1>
      <p id="state_message">Connecting to server...</p>
      <div id="map" src=""></div>
      <a id="register_catch_button" onclick="register_catch()">I got caught</a>
    </div>
    <script>
      {
        var green_target = L.icon({
          iconUrl: "{{url_for('static',filename='target_icon_green.svg')}}",
          iconSize:[8vw, 8vw],
          iconAnchor:[4vw,4vw],
        });
      }
      {
        var red_target = L.icon({
          iconUrl: "{{url_for('static',filename='target_icon_red.svg')}}",
          iconSize:[60, 60],
          iconAnchor:[30,30],
        });
      }
      
      console.log("initialising")
      var map = L.map('map').setView([0, 0], 17);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
      }).addTo(map);
      var markers = L.layerGroup().addTo(map);
      orientate();
      
      update();
      clear_map();
      
      function remake_map() {
        console.log("running");
        clear_map();
        update();
      }
      
      setInterval(remake_map, 10000);
    </script>
  </body>
</html>
